<h1>{{@action}} {{@table.name}}</h1>

<form>
  <div>
    <label>Name</label>
    <input type="text" value={{@table.name}} />
  </div>
  <div>
    <label>Email</label>
    <input type="text" value={{@table.email}} />
  </div>
  
  <div class="table-editor">
    <label>Content</label>
    {{#each @table.rows as |row|}}
    <div class="row">
      {{#each row.columns as |column|}}
      <input type="text" value={{column.value}} />
      {{/each}}
      <div class="action">
        <button type="button" class="contrast">&plus;</button>
      </div>
    </div>
    {{/each}}
    <div class="action">
      <button type="button" class="contrast">&plus;</button>
    </div>
  </div>
  
  <div class="grid">
    <button type="submit" class="primary">Send</button>
  </div>
</form>
