{{page-title 'Edit Table'}}

<h1>Edit {{this.model.name}}</h1>

<form {{on "submit" this.onSubmit}}>
  <div>
    <label for="name">Name</label>
    <input id="name" type="text" value={{this.model.name}} />
  </div>
  <div>
    <label for="email">Email</label>
    <input id="email" type="text" value={{this.model.email}} />
  </div>

  <span>Content</span>
  <div class="table-editor">
    {{#each this.model.table_rows as |row|}}
    <div class="row">
      {{#each row.table_columns as |column|}}
      <Input aria-label="value" @type="text" @value={{column.value}} />
      {{/each}}
      <div class="action">
        <button type="button" class="contrast" {{on "click" this.addColumn}}>&plus;</button>
        <button type="button" class="contrast" {{on "click" this.removeColumn}}>&minus;</button>
      </div>
    </div>
    {{/each}}
    <div class="action">
      <button type="button" class="contrast" {{on "click" this.addRow}}>&plus;</button>
      <button type="button" class="contrast" {{on "click" this.removeRow}}>&minus;</button>
    </div>
  </div>

  <div class="grid">
    <button type="submit" class="primary">Send</button>
  </div>
</form>

{{outlet}}
